<div class="container devise-form form-container">
	<div class="card">
		<h2 class="card-header">Editing Posting</h2>

		<%= render 'form', posting: @posting %>

		<div class="card-footer">
			<%= link_to 'Back', postings_path %>
		</div>
	</div>
</div>

<%= render "layouts/footer" %>