<div class="parallax"> 
	<h1 id="main-headline" class="text-center">Applying For Jobs Can Get Messy</h1>
	<p id="sub-headline" class="text-center">Let Job Keeper Help</p>
</div>

<div class="content-section">
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2><span class="marketing-header">Why?</span></h2>
        <p>If you've ever been in the job hunt, you know know that keeping track of applications can get lost in the sauce.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2><span class="marketing-header">What?</span></h2>
        <p>To stay organized, think of Job Keeper as a Book Keeper for your apps. It's plain. It's simple. It's kinda boring...In just the right way it should be.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2><span class="marketing-header">Who?</span></h2>
        <p>For anyone looking to organize their job applications during a grueling job hunt.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Step 1. <span class="text-muted">Sign Up With E-mail.</span></h2>
        <p class="lead">The usual email and password setup.</p>
      </div>
      <div class="col-md-5 text-center">
        <img class="featurette-image img-fluid mx-auto" src="assets/email.svg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">Step 2. <span class="text-muted">Enter Job Application Info.</span></h2>
        <p class="lead">Enter in the basic application info: company, position, date, etc.</p>
      </div>
      <div class="col-md-5 pull-md-7 text-center">
        <img class="featurette-image img-fluid mx-auto" src="assets/info.svg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Step 3. <span class="text-muted">Happy Job Hunting.</span></h2>
        <p class="lead">You're all set. Just repeat. Now you have a home for all your job applications. Good luck!</p>
      </div>
      <div class="col-md-5 text-center">
        <img class="featurette-image img-fluid mx-auto" src="assets/search.svg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</div>

<!-- <div class="parallax"></div> -->