// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background: linear-gradient(rgba(20,20,20, .6), rgba(20,20,20, .6)), url('desk3.jpg');
    /* Full height */
    height: 90%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-section {
	height: 100%;
  padding-top: 100px;
}

#main-headline {
    color: white;
    padding-top: 450px;
    letter-spacing: 4px;
}

#sub-headline {
    color: white;
    letter-spacing: 2px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  padding-top: 30px;
}

.marketing-header {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  border-right-style: none;
  border-top-style: none;
  border-left-style: solid;
  border-bottom-style: solid;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-image {
    width: 300px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 400px) {
  #main-headline {
    padding-top: 250px;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}