// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parallax-postings {
	height: 40%;
	// background: linear-gradient(rgba(20,20,20, .6), rgba(20,20,20, .6)), url('work-harder.jpg');
	// background-attachment: fixed;
 //    background-position: center;
 //    background-repeat: no-repeat;
 //    background-size: cover;
}

#postings-headline {
	color: white;
	padding-top: 130px;
  letter-spacing: 4px;
}

#postings-sub-headline {
	color: white;
	letter-spacing: 2px;
}

.table {
	margin-top: 50px;
}

.new-posting-button {
	width: 400px;
}

// pagination bar
.posting-pagination {
  padding: 1em;
}

.posting-pagination a, .posting-pagination span {
    padding: 0.2em 0.3em; 
}

.posting-pagination .disabled {
    color: #aaaaaa; 
}

.posting-pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}

.posting-pagination a {
    text-decoration: none;
    color: black; 
}

.posting-pagination a:hover, .posting-pagination a:focus {
    text-decoration: underline; 
}

@media (min-width: 1200px) {
	.form-container{
		width: 500px !important;
		max-width: 100%;
	}
}
