<footer class="footer-section footer-basic-centered">
  <p class="footer-company-motto">Job Keeper</p>

  <img id="logo-footer" class="img-fluid" src="assets/magnifier-white.svg">

  <p class="footer-company-name">Created By Justin</p>
  <p class="footer-company-name">&copy; 2017</p>
</footer>